$btn-primary: hsl(171, 66%, 44%);
$btn-primary-hover: hsl(180, 95%, 15%);
$btn-secondary: hsl(233, 100%, 69%);
$btn-secondary-hover: hsl(195, 76%, 35%);
$btn-text: hsl(233, 100%, 100%);
$heading-color: hsl(210, 10%, 33%);
$main-color: hsl(201, 11%, 66%);
$bg-color: hsl(210, 22%, 96%);
$main-font: 'Bai Jamjuree', sans-serif;
$small-font-size: 14px;
$medium-font-size: 21px;
$large-font-size: 30px;